.lineChart_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    &_title{
        max-width: 200px;
        width: 100%;
    }
    &_subtitle-chart{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 599px) {
    .lineChart {
      &_contents{
        &_subtitle-chart{
            text-align: center;
            grid-template-columns: 1fr !important;
            &_details{
                border: 3px solid #04838f;
                padding: 5px;
                border-radius: 10px;
                h2{
                    font-size: 15px;
                    text-wrap: wrap;
                    font-weight: 400;
                    margin: 5px 0px 5px 0px;
                }
                span{
                    font-weight: 600;
                }
            }
        }
      }    
    }
  }